%figure.collection
  = link_to(collection_path(collection_slug: collection.slug), class: "block") do
    .photo
      - if collection.products.first
        %img{src: image_path('loader.gif'), 'data-src' => collection.products.first.photo_url(:large), alt: collection.name}
      - else
        = image_tag 'loading.png'
  .info
    %span= collection.name
