%article.store
  %aside
    %figure
      = image_tag store.logo_url(:small)
  %section
    %h3= link_to store.name, store_path(store_domain: store.domain)
    -# %p= store.domain
    %ul.meta
      %li= store.domain
    -#   - unless user.location.blank?
    -#     %li= user.location
    -#   - unless user.website.blank?
    -#     %li= link_to user.website, user.website
    -# %p.biography= user.biography
