.page.store
  %header
    %h2= @current_store.name
    %p= link_to @current_store.domain, "http://#{@current_store.domain}"
  %section.products
    = render :partial => 'products/products', locals: { products: @products }
