/*
  Ikat.
    file: css/application.scss
*/

@import "lib/base";


/*
  = Contents
    I. Universal
*/


/*
  I. Universal
*/

body {
  @include font-size(16px);

  background: $black;
  color: $base;
  font-family: $sans-serif;
  font-weight: 300;
  max-height: 300px;
  margin: 1em 1em 0 1em;
  position: relative;
}

a {
  border-bottom: 1px solid $light-grey;
  color: $base;
  text-decoration: none;

  &:hover {
    color: lighten($orange, 10%);
    cursor: pointer;
  }
}

header {
  h1, span {
    display: inline-block;
  }

  h1 {
    @include background(
      image-url('logo-bg-2.png')
    );
    @include adjust-font-size-to(18px);

    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em;
    text-transform: uppercase;

    a {
      border: none;
      color: $base;
      display: block;

      &:hover {
        color: $base;
      }
    }
  }

  span {
    color: $light-grey;
    font-weight: 700;
    margin-left: rhythm(0.5);
  }
}

main {
  margin-top: 12.5px;

  .select {

    ul.images {
      height: 225px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      li {
        display: inline-block;

        &:hover {
          cursor: pointer;
        }

        & + li {
          margin-left: 1em;
        }
      }

      img {
        max-height: 225px;
      }
    }
  }

  .form {
    @include container;

    display: none;
    margin: 0;
    padding: 0;

    figure {
      @include span-columns(5, 24);

      img {
        display: block;
        max-height: 225px;
        max-width: 100%;
      }
    }

    form {
      @include span-columns(19 omega, 24);

      a.disabled {
        cursor: default;
        pointer-events: disabled;
      }

      input {
        padding: 0.5em;
      }

      .input {
        margin: 0;
      }

      .price, .currency {
        display: inline-block;
      }

      .currency {
        border-radius: 1px !important;
        padding: 0.5em;
        height: 40px !important;
      }

      .price {
        width: 50px !important;
      }

      .categories {
        margin-top: 0.5em;

        select {
          display: inline-block;
        }
      }

      .lists {
        margin-top: 1em;

        .buttons, .messages {
          display: inline-block;
        }

        .failure, .success {
          display: none;
          margin-left: 0.5em;
        }
      }
    }
  }
}
